body {
  font: 400 14px/1.6 "Open Sans", sans-serif;
  color: #353535;
}
header {
  background: #f2d785;
  padding: 15px 10px;
  color: #353535;
}
header ul.nav {
  list-style-type: none;
}
div.sliver {
  background: #f25d50;
  padding: 5px 0;
}
