//==================================================//
// author: zac owen
//
//==================================================//

//==================================================//
// imports
//==================================================//
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);


//==================================================//
// basic color scheme
//==================================================//

@lighbrown: #AD8A6D;
@brown: #7A4010;
@darkbrown: rgb(242,215,133);
@crab: rgb(242,93,80);
@pine: #285436;
@green: #107A13;
@light: #ffffff;
@black: #000000;
@fore: #353535;
@shadow: rgb(53,53,53,0.2);
@lgrey: #777777;
@link: #777777;


//==================================================//
// defaults
//==================================================//
html {
  font-size: 100%;
}

body {
  font: 400 14px/1.6 "Libre Baskerville", Arial, sans-serif;
  font-size: 1.313em;
  line-height: 1.524em;
  color: @fore;
}

pre {
  margin: 30px auto;
}
pre, code {
  padding: 0;
  font-family: 'Cutive Mono', serif;
  font-size: 14px;
}

//==================================================//
// mixins
//==================================================//

.box-shadow(@radius, @color) {
  -moz-box-shadow: @radius @color;
  -webkit-box-shadow: @radius @color;
  box-shadow: @radius @color;
}

//==================================================//
//  navigation
//==================================================//

header {
  background: @light;
  padding: 15px 10px;
  color: @fore;
  a,
  a:hover,
  a:visited,
  a:active {
    color: @fore;
  }
  h1 {

  }
  .navbar {
    .nav {
      list-style-type: none;
      margin-bottom: 0px;
      li {
        a {
          &.brand {
            color: @black;
          }
        }
      }
    }

  }
  .box-shadow(3px 3px 2px, 0.5);
}
div.sliver {
  background: @crab;
  padding: 5px 0;
}

//==================================================//
// content
//==================================================//

section {
  margin: 40px 0 0 0;
}
article {
  width: 62%;
  margin: 0px auto;
}

.lac-black-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background: @black;
}


//==================================================//
// footer
//==================================================//
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: @darkbrown url('/images/brown_dark.png');
  padding: 1px 10px;
  color: @light;
  a,
  a:hover{
    color: @light;
    text-decoration: none;
  }
  h6 {
    margin: 0;
    padding: 0;
    span {
      padding-right: 10px;
    }
    i {
      padding: 0 10px;
    }
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  /* ==================================================//
     css transitions?

  &:hover {
    height: 35px;
    .transition(height, 0.9s, linear);
    span, i {
      font-size: 2em;
      line-height: 40px;
      .transition(font-size, 0.9s, swing);
    }
  }
  ===================================================== */
}
