section {
  &#create-post {
    textarea {
      width: 75%;
      height: 500px;
    }
  }
}
article {
  padding-bottom: 40px;
  p {
    text-indent: 30px;
  }
  a {
    color: @fore;
    &:hover {
      text-decoration: none;
    }
  }
  h1, h2, h3 {
    text-align: center;
    line-height: 1.5em;
  }
  h2 {
    margin: 0px auto;
  }
  h3 {
    padding-bottom: 20px;
    font-size: 0.7em;
    margin: 0px;
    color: @lgrey;
  }
  &.lac-post-summary {
    .lac-post-body--shortened {
      max-height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .lac-post-body--shortened:after {
      content: '...'
    }
  }
  .lac-post-more {
    color: @link;
    &:hover {
      color: @fore;
    }
  }

}
