footer
  div(class='container')
    h6 
      span &copy; 2013 z.h. owen
      a(href='//twitter.com/hackariah', target='_new')
        i(class="icon-twitter")
      a(href='//github.com/lactose', target='_new')
        i(class="icon-github")
      a(href='//linkedin.com/zhowen', target='_new')
        i(class="icon-linkedin")
      a(href='#', class='lac-email', target='_new', title='dev at scrptr.com')
        i(class="icon-envelope")
